{% extends 'partials/base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<h2>Bildirimler</h2>
<ul>
    {% for notification in notifications %}
    <li>
        <strong>{{ notification.title }}</strong>
        <p>{{ notification.message }}</p>
        <small>{{ notification.created_at }}</small>
        <a href="{% url 'mark_notification_as_read' notification.id %}">Okundu olarak işaretle</a>
    </li>
    {% empty %}
    <li>Hiç okunmamış bildirim yok.</li>
    {% endfor %}
</ul>

<h2>İzin Talepleri Yönetimi</h2>
<a href="{% url 'manage_leaves' %}" class="btn btn-primary">İzin Taleplerini Yönet</a>

{% endblock %}
