{% extends 'partials/base.html' %}

{% block title %}Notifications{% endblock %}

{% block content %}
<h2>Bildirimler</h2>
<ul class="list-group">
    {% for notification in notifications %}
    <li class="list-group-item">
        <strong>{{ notification.title }}</strong>
        <p>{{ notification.message }}</p>
        <small>{{ notification.created_at }}</small>
        <a href="{% url 'mark_notification_as_read' notification.id %}" class="btn btn-sm btn-primary">Okundu</a>
    </li>
    {% empty %}
    <li class="list-group-item">Hiç bildirim yok.</li>
    {% endfor %}
</ul>
{% endblock %}
